input {
  line-height: 30px;
  height: 30px;
  font-size: 20px;
  border: 2px solid #a3a3a3;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}

input:focus {
  border: 2px solid blue;
}

button {
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid blue;
  background: white;
  color: blue;
}

button:hover {
  background: blue;
  color: white;
}
.form-control {
  margin: 1rem 0;
}

.form-control input,
.form-control label,
.form-control textarea {
  display: block;
  margin-bottom: 0.25rem;
  width: 100%;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: blue;
}
