.form input{
    width: 250px;
    height: 28px;
    transition: all .5s ease;
    border:none;
    border-top-left-radius: 5px;     
    border-bottom-left-radius: 5px;     
}

.form input:focus{
    width: 300px;
    outline: none;
    margin-left: -30px;
}

.form form{
    display: flex;
}

.form input:focus ~ button i{
    width: 30px;
}

.form .fa-width{
    width:50px;
    height: 20px;
    transition: width .5s ease;
}
.form .button{
    border:none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

