.unorderList{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    box-sizing: border-box;
}
.list{
    width: 100px;
    text-align: center;
}

.anchor{
    text-decoration: none;
    font-weight: 600;
    color: #105757;
}
